.settings {
  margin: 16px 0;
  border: 2px solid var(--sky-700);
}

.toggle {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1px;

  border-top: 2px solid var(--sky-700);
  background-color: var(--sky-700);
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
}

.item label {
  display: block;
  align-content: center;
  padding: 0 8px;
  height: 48px;
  background-color: var(--sky-100);
}

.item input[type="number"],
.settings .item button {
  border: 0;
  padding: 0 8px;
  width: 100%;
  height: 48px;
  background-color: #fff;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  border-top: 1px solid var(--sky-700);
}

.settings button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: 0;
  height: 40px;
  background-color: #fff;

  color: var(--sky-700);
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline;
}
.settings button::before {
  content: "";

  display: inline-block;
  border: 1px solid var(--sky-700);
  border-radius: 9999px;
  width: 24px;
  height: 24px;
}
.settings button.checked::before {
  border-color: #000;
  border-color: var(--sky-900);
  background-color: #000;
}

@media (pointer: fine) {
  .settings button:hover {
    color: var(--sky-800);
  }
  .settings button:hover::before {
    background-color: var(--sky-100);
    outline: 2px solid var(--sky-700);
    outline-offset: -1px;
  }
  .settings button.checked:hover::before {
    border-color: var(--sky-950);
    background-color: var(--sky-950);
    outline-color: var(--sky-950);
  }
}
